
.profile-pic {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
}

#map {
    height: 400px;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}
.custom-map-control-button:hover {
    background: rgb(235, 235, 235);
}

main .loader{
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s ease-in;
    border: 2px solid dodgerblue;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: auto;
    margin-top: 10px;
    animation: loader 0.5s infinite alternate;
}

main .loader.show{
    visibility: visible;
    opacity: 1;
}

@keyframes loader {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }
}


